
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDemoLabel" data-translate="kukulkanmongoApp.demo.home.createOrEditLabel">Create or edit a Demo</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.demo.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.demo.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                    ng-model="vm.demo.nombre"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.edad" for="field_edad">Edad</label>
            <input type="number" class="form-control" name="edad" id="field_edad"
                    ng-model="vm.demo.edad"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.numeroCredencial" for="field_numeroCredencial">Numero Credencial</label>
            <input type="number" class="form-control" name="numeroCredencial" id="field_numeroCredencial"
                    ng-model="vm.demo.numeroCredencial"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.sueldo" for="field_sueldo">Sueldo</label>
            <input type="number" class="form-control" name="sueldo" id="field_sueldo"
                    ng-model="vm.demo.sueldo"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.impuesto" for="field_impuesto">Impuesto</label>
            <input type="number" class="form-control" name="impuesto" id="field_impuesto"
                    ng-model="vm.demo.impuesto"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.impuestoDetalle" for="field_impuestoDetalle">Impuesto Detalle</label>
            <input type="number" class="form-control" name="impuestoDetalle" id="field_impuestoDetalle"
                    ng-model="vm.demo.impuestoDetalle"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.ativo" for="field_ativo">Ativo</label>
                <input type="checkbox" name="ativo" id="field_ativo"
                          ng-model="vm.demo.ativo"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.fechaLocalDate" for="field_fechaLocalDate">Fecha Local Date</label>
                <div class="input-group">
                    <input id="field_fechaLocalDate" type="text" class="form-control" name="fechaLocalDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.demo.fechaLocalDate" is-open="vm.datePickerOpenStatus.fechaLocalDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaLocalDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.fechaZoneDateTime" for="field_fechaZoneDateTime">Fecha Zone Date Time</label>
                <div class="input-group">
                    <input id="field_fechaZoneDateTime" type="text" class="form-control" name="fechaZoneDateTime" datetime-picker="{{dateformat}}" ng-model="vm.demo.fechaZoneDateTime" is-open="vm.datePickerOpenStatus.fechaZoneDateTime"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('fechaZoneDateTime')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagen($file, vm.demo)">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.imagen" for="field_imagen">Imagen</label>
            <div>
                <div ng-if="vm.demo.imagen" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.demo.imagenContentType, vm.demo.imagen)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.demo.imagenContentType}}, {{vm.byteSize(vm.demo.imagen)}}</span>
                    <button type="button" ng-click="vm.demo.imagen=null;vm.demo.imagenContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagen($file, vm.demo)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagen" id="field_imagen"
                    ng-model="vm.demo.imagen"
                    />
            <input type="hidden" class="form-control" name="imagenContentType" id="field_imagenContentType"
                    ng-model="vm.demo.imagenContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagenAnyBlob($file, vm.demo)">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.imagenAnyBlob" for="field_imagenAnyBlob">Imagen Any Blob</label>
            <div>
                <div ng-if="vm.demo.imagenAnyBlob" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.demo.imagenAnyBlobContentType, vm.demo.imagenAnyBlob)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.demo.imagenAnyBlobContentType}}, {{vm.byteSize(vm.demo.imagenAnyBlob)}}</span>
                    <button type="button" ng-click="vm.demo.imagenAnyBlob=null;vm.demo.imagenAnyBlobContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagenAnyBlob($file, vm.demo)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagenAnyBlob" id="field_imagenAnyBlob"
                    ng-model="vm.demo.imagenAnyBlob"
                    />
            <input type="hidden" class="form-control" name="imagenAnyBlobContentType" id="field_imagenAnyBlobContentType"
                    ng-model="vm.demo.imagenAnyBlobContentType" />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImagenBlob($file, vm.demo)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.imagenBlob" for="field_imagenBlob">Imagen Blob</label>
            <div>
                <img data-ng-src="{{'data:' + vm.demo.imagenBlobContentType + ';base64,' + vm.demo.imagenBlob}}" style="max-height: 100px;" ng-if="vm.demo.imagenBlob" alt="demo image"/>
                <div ng-if="vm.demo.imagenBlob" class="help-block clearfix">
                    <span class="pull-left">{{vm.demo.imagenBlobContentType}}, {{vm.byteSize(vm.demo.imagenBlob)}}</span>
                    <button type="button" ng-click="vm.demo.imagenBlob=null;vm.demo.imagenBlobContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImagenBlob($file, vm.demo)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="imagenBlob" id="field_imagenBlob"
                    ng-model="vm.demo.imagenBlob"
                    />
            <input type="hidden" class="form-control" name="imagenBlobContentType" id="field_imagenBlobContentType"
                    ng-model="vm.demo.imagenBlobContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.desc" for="field_desc">Desc</label>
                <textarea class="form-control" name="desc" id="field_desc"
                    ng-model="vm.demo.desc" ></textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="kukulkanmongoApp.demo.instante" for="field_instante">Instante</label>
                <div class="input-group">
                    <input id="field_instante" type="text" class="form-control" name="instante" datetime-picker="{{dateformat}}" ng-model="vm.demo.instante" is-open="vm.datePickerOpenStatus.instante"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('instante')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
